<meta charset="utf-8">

<block-ui>

<div class="big3"><p-messages [(value)]="msgs"></p-messages></div>

<div style="width: 1000px; margin-top:25px; margin-left:auto; margin-right:auto;" class="{{paso != 1 ? 'hide' : ''}}">

	<p-dataTable emptyMessage="" rowStyleClass="rowInvisible">
		<p-header>
			<div class="big2">Ingrese uno de los siguientes datos</div>
		</p-header>
		<ng-template pTemplate="emptymessage">
			
		</ng-template>
	</p-dataTable>
	
	<div class="space"></div>	
	
	<div class="big">
	<input class="big" #soc_sumi id="soc_sumi" size="20" placeholder="Socio" />
	</div>

	<div class="space"></div>	
	
	<div class="big">
	<input class="big" #dni id="dni" size="20" placeholder="D.N.I." />
	</div>
	
	<div class="space"></div>	
	
	<div class="big">
	<input class="big" #nombre id="nombre"  size="20" placeholder="Apellido y nombres" />
	</div>
	
	<div class="space"></div>	
	
	<div class="big">
	<input class="big" #direccion id="direccion"  size="20" placeholder="Domicilio" />
	</div>
	
</div>


<div class="space"></div>	
<div  *ngIf="paso != 1" class="big2">
<button pButton type="button" style="height: 128px; width: 128px;" icon="fa-arrow-left fa-3x" (click)="atras()"></button>
</div>

<div *ngIf="paso == 3" ui-g>

	<div style="margin: 25px; background-color:transparent;">
		<p-dataGrid [value]="facturas" >
		<p-header>
			<div class="big2">Seleccione factura a imprimir</div>
		</p-header>
			<ng-template let-fact pTemplate="item">
			<div style="padding:15px;" class="ui-md-3">
				<p-panel class="big2" [header]="fact.Comp_letra + '-' + fact.Comp_sucur + '-' + fact.Comp_numer + ' / $' + fact.CompSaldo.substring(0, fact.CompSaldo.length - 2).replace('.', ',')" 
						[style]="{'text-align':'center', 'background-color':(fact.Pagada=='S'?'':'#FFDDDD')}">
					<div> <button pButton type="button" style="height: 128px; width: 128px;" icon="fa-print fa-3x" (click)="imprimir(fact.Comp_letra, fact.Ptovta_base_impresion, fact.Comp_base_impresion, fact.Fac1Servic, fact.TipoFactura)"></button> </div>	                
						<hr class="ui-widget-content" style="border-top:0">
						<div class="small">Emisión: {{fact.Comp_fecha}}</div>
						<div class="small">Vence: {{fact.Comp_vto1}} {{(fact.Pagada=='S'?'':' (Impaga)')}}</div>
				</p-panel> 
			</div>
		</ng-template>
		</p-dataGrid>
	</div>
</div>

<div *ngIf="paso == 25" ui-g>
	<div style="margin: 25px; background-color:transparent;">
		<p-dataGrid [value]="suministros" >
		<p-header>
			<div class="big2">Suministros de {{suministros[0].Soc_apelli}}</div>
		</p-header>
			<ng-template let-sumi pTemplate="item">
			<div style="padding:15px" class="ui-md-3">
				<p-panel class="big2" [style]="{'text-align':'center'}">
					<p-header>
						<span class="fa-stack">						
							<span class="fa fa-circle-o fa-stack-2x"></span>
							<strong class="fa-stack-1x">{{sumi.Sumi_numer}}</strong>
						</span>
						<span *ngIf="sumi.Servicios % 2 == 0" class="fa fa-plug"></span>
						<span *ngIf="sumi.Servicios % 3 == 0" class="fa fa-wifi"></span>
						<span *ngIf="sumi.Servicios % 5 == 0" class="fa fa-medkit"></span>		
						<span style=""></span>			
						/  ${{sumi.Impago.substring(0, sumi.Impago.length - 2).replace('.', ',')}}
					</p-header>
					<div> <button pButton type="button" style="height: 90px; width: 300px;" icon="fa-list-ul" label="  Comprobantes" (click)="seleccionarSuministro(sumi.Soc_numero, sumi.Sumi_numer)"></button> </div>	 
					<div> <button pButton type="button" style="height: 90px; width: 300px;" icon="fa-print" label="   Estado de deuda" (click)="imprimirEstadoDeuda(sumi.Soc_numero, sumi.Sumi_numer)"></button> </div>	                
						<hr class="ui-widget-content" style="border-top:0">
						<div class="small">Domicilio: {{sumi.Sumi_calle}} {{sumi.Sumi_nroca}} {{(sumi.Sumi_piso == 0 ? "" : " Piso " + sumi.Sumi_piso)}} {{(sumi.Sumi_depto.trim() == "" ? "" : "Depto. " + sumi.Sumi_depto)}}</div>
				</p-panel> 
			</div>
		</ng-template>
		</p-dataGrid>
	</div>
</div>

<div *ngIf="paso == 2" style="width: 820px; text-align:center; margin-top:50px; margin-left:auto; margin-right:auto;  background-color:transparent;">
		<p-dataList [value]="socios">
		   <p-header>
			   <div class="big2">Seleccione el titular del servicio</div>
		   </p-header>
		   <ng-template let-socio pTemplate="item">
			<div  style="padding:10px" >
				  <div> <input class="big" type="button" style="height: 100px; width: 782px;" 
						 value="{{socio.Soc_apelli}}"
						 (click)="seleccionarSocio(socio.Soc_numero)"/> 
				  </div>	                
			</div>
		   </ng-template>
		</p-dataList>
</div>




</block-ui>


