/* You can add global styles to this file, and also import other style files */


/* Hack Date Picker de la grilla */
.dp-picker-input {
    width: 100px !important;
}

body {
    background-color: lightgrey;
    font-family: "Verdana", Geneva, sans-serif;
}

.separador {
	height: 30px;
}

.colAgrupada {
	background-color: red;
}

.editingRow {
    background-color: rgb(255, 220, 175) !important;
}

.chartBackground {
    background-color: rgb(232, 232, 224) !important;
}