/* You can add global styles to this file, and also import other style files */

body {
    background-color: lightgrey;
    font-family: "Verdana", Geneva, sans-serif;
}

.separador {
	height: 30px;
}

.colAgrupada {
	background-color: red;
}
