
<script src="http://blueimp.github.io/JavaScript-MD5/js/md5.js"></script>

<div class="ui-g">
<div class="{{mostrarSidebar ? 'ui-g-9' : ''}}">

<p-toolbar>
    <div class="ui-toolbar-group-left">
		<table><tr><td>
			<div *ngIf="accion==0"><button style="vertical-align: middle; background-color:rgb(255, 174, 0);" type="button" pButton icon="fa-plus" iconPos="left" (click)="editarNuevo(dt)"></button></div>
			<div *ngIf="accion>0">			
				<button style="vertical-align: middle; background-color:rgb(236, 0, 0);" type="button" pButton icon="fa-times" iconPos="left" (click)="editarCancelar(dt)"></button>
				<button style="vertical-align: middle; background-color:rgb(17, 202, 0);" type="button" pButton icon="fa-check" iconPos="left" (click)="editarAceptar(dt)"></button>
				<button *ngIf="accion>1" style="vertical-align: middle; background-color:rgb(136, 190, 196);" type="button" pButton icon="fa-trash" iconPos="left" (click)="confirm(dt)"></button>					
			</div>						
			</td><td><div style="width:15px"></div></td><td>
		 	<font size="+1">{{tituloGridArmado}}</font>
		</td></tr></table>
    </div>
    	
    <div class="ui-toolbar-group-right">
		<div style="white-space: nowrap; vertical-align: middle;">
			<span style="display: inline-block; vertical-align: middle;" class="ui-inputgroup">
				<span class="ui-inputgroup-addon" style="vertical-align: middle;"><i class="fa fa-object-group"></i></span>
				<p-dropdown [options]="colsParaAgrupar" [(ngModel)]="agruparCol" (onChange)="agruparChanged($event)"></p-dropdown>		
			</span>
			<span style="vertical-align: middle; display: inline-block; width:20px"></span>
			<button style="vertical-align: middle; display: inline-block;" type="button" pButton icon="fa-file-excel-o" iconPos="left" (click)="dt.exportCSV()"></button>
			<button style="vertical-align: middle; display: inline-block;" pButton type="button" (click)="guardarClick()" icon="fa-save"></button>
		</div>	
    </div>
</p-toolbar>

<p-dataTable #dt [value]="filas" sortMode="single" [sortField]="selectedCol" [sortOrder]="orderAscDesc" (onSort)="onSort($event)" 	
	[rows]="20" [paginator]="true" [pageLinks]="3" loadingIcon="fa-circle-o-notch" [loading]="loading" emptyMessage="Sin datos..."
	(onRowClick)="rowClick($event, dt)" [rowStyleClass]="getRowStyleClass"
	>
		
	<p-column *ngFor="let col of cols" [field]="col.value" sortable="custom" (sortFunction)="doSort($event, dt)" 
		[footer]="totales[col.value]"  [style]="getStyle(col.value)" [hidden]="colsMetadata[col.value].hidden">
   			
		<ng-template pTemplate="header" >
			<div style="text-align:center;" tooltipPosition="top" pTooltip="{{colsMetadata[col.value].tooltip ? colsMetadata[col.value].tooltip : ''}}" showDelay="0"
				tooltipStyleClass="tooltip">{{col.label}}</div>	

			<div style="text-align:center;" *ngIf="colsMetadata[col.value] ? colsMetadata[col.value].inputFiltro == 'text' : 0"> 
				<input type="text" size="6" pInputText (input)="manualFilter(col.value, $event.target.value)" [value]="filters[col.value]"/>
			</div>
			<div id="dateAnchor">
				<div style="text-align:center;" *ngIf="colsMetadata[col.value] ? colsMetadata[col.value].inputFiltro == 'dateRangeMes' : 0"> 
					<div >
					<dp-date-picker placeholder="desde..." type="month" [ngModel]="filters[col.value]['desde']" (ngModelChange)="onDateDesdeChange($event, col.value)" [config]="datePickerConfigMes"></dp-date-picker>
					<dp-date-picker placeholder="hasta..." type="month" [ngModel]="filters[col.value]['hasta']" (ngModelChange)="onDateHastaChange($event, col.value)" [config]="datePickerConfigMes"></dp-date-picker>
					</div>
				</div>
				<div style="text-align:center;" *ngIf="colsMetadata[col.value] ? colsMetadata[col.value].inputFiltro == 'dateRangeDia' : 0"> 
					<div id="dateAnchor">
					<dp-date-picker placeholder="desde..." [ngModel]="filters[col.value]['desde']" (ngModelChange)="onDateDesdeChange($event, col.value)" [config]="datePickerConfigDia"></dp-date-picker>
					<dp-date-picker placeholder="hasta..." [ngModel]="filters[col.value]['hasta']" (ngModelChange)="onDateHastaChange($event, col.value)" [config]="datePickerConfigDia"></dp-date-picker>
					</div>
				</div>
			</div>
			<div style="text-align:center;" *ngIf="colsMetadata[col.value] ? colsMetadata[col.value].inputFiltro == 'multiselect' : 0"> 
				<p-multiSelect defaultLabel="(elegir)" filter="false" maxSelectedLabels="3" selectedItemsLabel="{0} seleccionados" [options]="multiselectValues[col.value]" 
					appendTo="body" [ngModel]="filters[col.value]" (ngModelChange)="onMultiselectChange($event, col.value)"></p-multiSelect>
			</div>
			
			<div style="text-align:center;" *ngIf="colsMetadata[col.value] ? colsMetadata[col.value].inputFiltro == 'range' : 0"> 
				{{filters[col.value][0]}} a {{filters[col.value][1]}}
				<p-slider [(ngModel)]="filters[col.value]" [range]="true"></p-slider>
			</div>    
		</ng-template>	 
		
		<ng-template let-fila="rowData" pTemplate="body">
			<div *ngIf="colsMetadata[col.value] ? colsMetadata[col.value].iconoBoton :_false">
				<button style="vertical-align: middle" type="button" pButton [icon]="colsMetadata[col.value].iconoBoton" iconPos="left" 
					(click)="gridButtonClick(fila, col)" [pTooltip]="colsMetadata[col.value].tooltipBoton"></button>
			</div>
			<div *ngIf="colsMetadata[col.value] ? !colsMetadata[col.value].iconoBoton :_false">
				<div *ngIf="fila.isEditing && !colsMetadata[col.value].calculada && !colsMetadata[col.value].accionBoton">
					<div style="text-align:center;" *ngIf="colsMetadata[col.value] ? colsMetadata[col.value].inputFiltro == 'text' : 0"> 
						<input type="text" size="10" pInputText [(ngModel)]="editRow[col.value]"/>
					</div>
					<div id="dateAnchor">
						<div style="text-align:center;" *ngIf="colsMetadata[col.value] ? colsMetadata[col.value].inputFiltro == 'dateRangeMes' : 0"> 
							<dp-date-picker type="month" [ngModel]="editRow[col.value]"  (ngModelChange)="onDateChange($event, col.value)" [config]="datePickerConfigMes"></dp-date-picker>
						</div>
						<div style="text-align:center;" *ngIf="colsMetadata[col.value] ? colsMetadata[col.value].inputFiltro == 'dateRangeDia' : 0"> 
							<dp-date-picker [ngModel]="editRow[col.value]" (ngModelChange)="onDateChange($event, col.value)" [config]="datePickerConfigDia"></dp-date-picker>
						</div>
					</div>
					<div style="text-align:center;" *ngIf="colsMetadata[col.value] ? colsMetadata[col.value].inputFiltro == 'multiselect' : 0"> 
						<p-dropdown placeholder="(elegir)" [options]="multiselectValues[col.value]" 
							appendTo="body" [(ngModel)]="editRow[col.value]"></p-dropdown>
					</div>			
					<div style="text-align:center;" *ngIf="colsMetadata[col.value] ? colsMetadata[col.value].inputFiltro == 'range' : 0"> 
						{{filters[col.value][0]}} a {{filters[col.value][1]}}
						<p-slider [(ngModel)]="filters[col.value]" [range]="true"></p-slider>
					</div>    
				</div>
				<div *ngIf="!fila.isEditing">					
					<div *ngIf="colsMetadata[col.value].fk_mostrar">{{getMostrarFk(col.value, fila[col.value])}}</div>
					<div *ngIf="!colsMetadata[col.value].fk_mostrar">{{fila[col.value] == "0" || fila[col.value] == "0.00" ? "" : fila[col.value]}}</div>
				</div>																									
			</div>         
        </ng-template>
	</p-column>		

</p-dataTable>

<p-growl life="2500" sticky="false" id="growl" [(value)]="msgs"></p-growl>

<br/>

</div>

<div class="ui-g-3" *ngIf="mostrarSidebar">
	<app-sidebar #sb [user]="userId" [grid]="nombreGrid" (changed)="cargarConsultaSeleccionada($event, sb, false)" [backendURL]="backendURL"></app-sidebar>
</div>


<div *ngIf="mostrarGrafico" class="ui-g-9 chartBackground">

<button style="vertical-align: middle" pButton type="button" (click)="refreshChart()" icon="fa-refresh"></button>
Tipo: <p-dropdown [options]="tiposGrafico" [(ngModel)]="tipoGrafico" (onChange)="reloadChartData()"></p-dropdown>
Series: <p-dropdown [options]="colsParaAgrupar" [(ngModel)]="series" (onChange)="reloadChartData()"></p-dropdown>
Eje X: <p-dropdown [options]="colsParaAgrupar" [(ngModel)]="chartX" (onChange)="reloadChartData()"></p-dropdown>
Eje Y: <p-dropdown [options]="colsParaAgrupar" [(ngModel)]="chartY" (onChange)="reloadChartData()"></p-dropdown>

<app-chart [data]="chartData" [tipo]="tipoGrafico"></app-chart>
	
</div>

		
<p-dialog header="Guardar consulta" [modal]="true" [dismissableMask]="true" [(visible)]="mostrarPopupGuardar" (onShow)="showModal($event, inputNombre)">
    Nombre de la consulta
    <input #inputNombre type="text" pInputText [(ngModel)]="nombreGuardar"/>
    <button pButton type="button" (click)="guardarConfirmar()" label="OK"></button>    
</p-dialog>

<p-confirmDialog #cd header="Confirmar" icon="fa fa-question-circle" width="425">
	<p-footer>
		<button type="button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>
		<button type="button" pButton icon="fa-check" label="Sí" (click)="cd.accept()"></button>
	</p-footer>
</p-confirmDialog>

		
</div>
